<!--<h1>FEATURES</h1>
<ul>
  <li>Multiple</li>
  <li>Multiple</li>
  <li>Multiple</li>
  <li>Multiple</li>
  <li>Multiple</li>
  <li>Multiple</li>
</ul>-->

<h1>ANGULAR SELECT LIST</h1>

<form [formGroup]='formElements' class="form-group">
  <div>
    <ul>
      <li><code>formControlName="account"</code></li>
      <li><code>[multiple]="true"</code></li>
      <li><code>[options]="accountList"</code></li>
      <li><code>placeholder="Change Account"</code></li>
      <li><code>[isFilterOption]="true"</code></li>
      <li><code>filterPlaceholder="Search Accounts..."</code></li>
      <li><code>[disabled]="false"</code></li>
      <li><code>(selected)="getClickedAccount()"</code></li>
      <li><code>noResultMessage="No result found"</code></li>
    </ul>
    <lib-ng2-select-list
      formControlName="account"
      [multiple]="true"
      [options]="accountList"
      placeholder="Change Account"
      [isFilterOption]="true"
      filterPlaceholder="Search Accounts..."
      [disabled]="false"
      (selected)="getClickedAccount()"
      noResultMessage="No result found"
    ></lib-ng2-select-list>
  </div>
  <div>
    <ul>
      <li><code>formControlName="site"</code></li>
      <li><code>[multiple]="false"</code></li>
      <li><code>[options]="siteList"</code></li>
      <li><code>placeholder="Change Site"</code></li>
      <li><code>[isFilterOption]="true"</code></li>
      <li><code>filterPlaceholder="Search Sites..."</code></li>
      <li><code>[disabled]="false"</code></li>
      <li><code>[crossButton]="true"</code></li>
      <li><code>noResultMessage="No result found"</code></li>
    </ul>
    <lib-ng2-select-list
      formControlName="site"
      [multiple]="false"
      [options]="siteList"
      placeholder="Change Site"
      [isFilterOption]="true"
      filterPlaceholder="Search Sites..."
      [disabled]="false"
      [crossButton]="true"
      noResultMessage="No result found"
    ></lib-ng2-select-list>
  </div>


</form>


<router-outlet></router-outlet>
